{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 ">

    <div class="card shadow">

        <div class="card-header bg-success text-white">
            <h3>Add Income</h3>
        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-success">
                    Add Income
                </button>

                <a href="{% url 'list_income' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}